.hover-underline {
    position: relative;
}

.hover-underline::after {
    content: '';
    position: absolute;
    background-color: rgb(215, 214, 213);
    left: 0;
    bottom: -2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    height: 2px;
    transition: all 0.5s;
}
.hover-underline:hover::after {
    transform: scaleX(1);
}
