#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  animation: animStar calc(50s * var(--star-speed-multiplier)) linear infinite;
  box-shadow: 779px 1331px #fffff0, 324px 42px #fffff0, 303px 586px #fffff0,
    1312px 276px #fffff0, 451px 625px #fffff0, 521px 1931px #fffff0,
    1087px 1871px #fffff0, 36px 1546px #fffff0, 132px 934px #fffff0,
    1698px 901px #fffff0, 1418px 664px #fffff0, 1448px 1157px #fffff0,
    1084px 232px #fffff0, 347px 1776px #fffff0, 1722px 243px #fffff0,
    1629px 835px #fffff0, 479px 969px #fffff0, 1231px 960px #fffff0,
    586px 384px #fffff0, 164px 527px #fffff0, 8px 646px #fffff0,
    1150px 1126px #fffff0, 665px 1357px #fffff0, 1556px 1982px #fffff0,
    1260px 1961px #fffff0, 1675px 1741px #fffff0, 1843px 1514px #fffff0,
    718px 1628px #fffff0, 242px 1343px #fffff0, 1497px 1880px #fffff0,
    1364px 230px #fffff0, 1739px 1302px #fffff0, 636px 959px #fffff0,
    304px 686px #fffff0, 614px 751px #fffff0, 1935px 816px #fffff0,
    1428px 60px #fffff0, 355px 335px #fffff0, 1594px 158px #fffff0,
    90px 60px #fffff0, 1553px 162px #fffff0, 1239px 1825px #fffff0,
    1945px 587px #fffff0, 749px 1785px #fffff0, 1987px 1172px #fffff0,
    1301px 1237px #fffff0, 1039px 342px #fffff0, 1585px 1481px #fffff0,
    995px 1048px #fffff0, 524px 932px #fffff0, 214px 413px #fffff0,
    1701px 1300px #fffff0, 1037px 1613px #fffff0, 1871px 996px #fffff0,
    1360px 1635px #fffff0, 1110px 1313px #fffff0, 412px 1783px #fffff0,
    1949px 177px #fffff0, 903px 1854px #fffff0, 700px 1936px #fffff0,
    378px 125px #fffff0, 308px 834px #fffff0, 1118px 962px #fffff0,
    1350px 1929px #fffff0, 781px 1811px #fffff0, 561px 137px #fffff0,
    757px 1148px #fffff0, 1670px 1979px #fffff0, 343px 739px #fffff0,
    945px 795px #fffff0, 576px 1903px #fffff0, 1078px 1436px #fffff0,
    1583px 450px #fffff0, 1366px 474px #fffff0, 297px 1873px #fffff0,
    192px 162px #fffff0, 1624px 1633px #fffff0, 59px 453px #fffff0,
    82px 1872px #fffff0, 1933px 498px #fffff0, 1966px 1974px #fffff0,
    1975px 1688px #fffff0, 779px 314px #fffff0, 1858px 1543px #fffff0,
    73px 1507px #fffff0, 1693px 975px #fffff0, 1683px 108px #fffff0,
    1768px 1654px #fffff0, 654px 14px #fffff0, 494px 171px #fffff0,
    1689px 1895px #fffff0, 1660px 263px #fffff0, 1031px 903px #fffff0,
    1203px 1393px #fffff0, 1333px 1421px #fffff0, 1113px 41px #fffff0,
    1206px 1645px #fffff0, 1325px 1635px #fffff0, 142px 388px #fffff0,
    572px 215px #fffff0, 1535px 296px #fffff0, 1419px 407px #fffff0,
    1379px 1003px #fffff0, 329px 469px #fffff0, 1791px 1652px #fffff0,
    935px 1802px #fffff0, 1330px 1820px #fffff0, 421px 1933px #fffff0,
    828px 365px #fffff0, 275px 316px #fffff0, 707px 960px #fffff0,
    1605px 1554px #fffff0, 625px 58px #fffff0, 717px 1697px #fffff0,
    1669px 246px #fffff0, 1925px 322px #fffff0, 1154px 1803px #fffff0,
    1929px 295px #fffff0, 1248px 240px #fffff0, 1045px 1755px #fffff0,
    166px 942px #fffff0, 1888px 1773px #fffff0, 678px 1963px #fffff0,
    1370px 569px #fffff0, 1974px 1400px #fffff0, 1786px 460px #fffff0,
    51px 307px #fffff0, 784px 1400px #fffff0, 730px 1258px #fffff0,
    1712px 393px #fffff0, 416px 170px #fffff0, 1797px 1932px #fffff0,
    572px 219px #fffff0, 1557px 1856px #fffff0, 218px 8px #fffff0,
    348px 1334px #fffff0, 469px 413px #fffff0, 385px 1738px #fffff0,
    1357px 1818px #fffff0, 240px 942px #fffff0, 248px 1847px #fffff0,
    1535px 806px #fffff0, 236px 1514px #fffff0, 1429px 1556px #fffff0,
    73px 1633px #fffff0, 1398px 1121px #fffff0, 671px 1301px #fffff0,
    1404px 1663px #fffff0, 740px 1018px #fffff0, 1600px 377px #fffff0,
    785px 514px #fffff0, 112px 1084px #fffff0, 1915px 1887px #fffff0,
    1463px 1848px #fffff0, 687px 1115px #fffff0, 1268px 1768px #fffff0,
    1729px 1425px #fffff0, 1284px 1022px #fffff0, 801px 974px #fffff0,
    1975px 1317px #fffff0, 1354px 834px #fffff0, 1446px 1484px #fffff0,
    1283px 1786px #fffff0, 11px 523px #fffff0, 1842px 236px #fffff0,
    1355px 654px #fffff0, 429px 7px #fffff0, 1033px 1128px #fffff0,
    157px 297px #fffff0, 545px 635px #fffff0, 52px 1080px #fffff0,
    827px 1520px #fffff0, 1121px 490px #fffff0, 9px 309px #fffff0,
    1744px 1586px #fffff0, 1014px 417px #fffff0, 1534px 524px #fffff0,
    958px 552px #fffff0, 1403px 1496px #fffff0, 387px 703px #fffff0,
    1522px 548px #fffff0, 1355px 282px #fffff0, 1532px 601px #fffff0,
    1838px 790px #fffff0, 290px 259px #fffff0, 295px 598px #fffff0,
    1601px 539px #fffff0, 1561px 1272px #fffff0, 34px 1922px #fffff0,
    1024px 543px #fffff0, 467px 369px #fffff0, 722px 333px #fffff0,
    1976px 1255px #fffff0, 766px 983px #fffff0, 1582px 1285px #fffff0,
    12px 512px #fffff0, 617px 1410px #fffff0, 682px 577px #fffff0,
    1334px 1438px #fffff0, 439px 327px #fffff0, 1617px 1661px #fffff0,
    673px 129px #fffff0, 794px 941px #fffff0, 1386px 1902px #fffff0,
    37px 1353px #fffff0, 1467px 1353px #fffff0, 416px 18px #fffff0,
    187px 344px #fffff0, 200px 1898px #fffff0, 1491px 1619px #fffff0,
    811px 347px #fffff0, 924px 1827px #fffff0, 945px 217px #fffff0,
    1735px 1228px #fffff0, 379px 1890px #fffff0, 79px 761px #fffff0,
    825px 1837px #fffff0, 1980px 1558px #fffff0, 1308px 1573px #fffff0,
    1488px 1726px #fffff0, 382px 1208px #fffff0, 522px 595px #fffff0,
    1277px 1898px #fffff0, 354px 552px #fffff0, 161px 1784px #fffff0,
    614px 251px #fffff0, 526px 1576px #fffff0, 17px 212px #fffff0,
    179px 996px #fffff0, 467px 1208px #fffff0, 1944px 1838px #fffff0,
    1140px 1093px #fffff0, 858px 1007px #fffff0, 200px 1064px #fffff0,
    423px 1964px #fffff0, 1945px 439px #fffff0, 1377px 689px #fffff0,
    1120px 1437px #fffff0, 1876px 668px #fffff0, 907px 1324px #fffff0,
    343px 1976px #fffff0, 1816px 1501px #fffff0, 1849px 177px #fffff0,
    647px 91px #fffff0, 1984px 1012px #fffff0, 1336px 1300px #fffff0,
    128px 648px #fffff0, 305px 1060px #fffff0, 1324px 826px #fffff0,
    1263px 1314px #fffff0, 1801px 629px #fffff0, 1614px 1555px #fffff0,
    1634px 90px #fffff0, 1603px 452px #fffff0, 891px 1984px #fffff0,
    1556px 1906px #fffff0, 121px 68px #fffff0, 1676px 1714px #fffff0,
    516px 936px #fffff0, 1947px 1492px #fffff0, 1455px 1519px #fffff0,
    45px 602px #fffff0, 205px 1039px #fffff0, 793px 172px #fffff0,
    1562px 1739px #fffff0, 1056px 110px #fffff0, 1512px 379px #fffff0,
    1795px 1621px #fffff0, 1848px 607px #fffff0, 262px 1719px #fffff0,
    477px 991px #fffff0, 483px 883px #fffff0, 1239px 1197px #fffff0,
    1496px 647px #fffff0, 1649px 25px #fffff0, 1491px 1946px #fffff0,
    119px 996px #fffff0, 179px 1472px #fffff0, 1341px 808px #fffff0,
    1565px 1700px #fffff0, 407px 1544px #fffff0, 1754px 357px #fffff0,
    1288px 981px #fffff0, 902px 1997px #fffff0, 1755px 1668px #fffff0,
    186px 877px #fffff0, 1202px 1882px #fffff0, 461px 1213px #fffff0,
    1400px 748px #fffff0, 1969px 1899px #fffff0, 809px 522px #fffff0,
    514px 1219px #fffff0, 374px 275px #fffff0, 938px 1973px #fffff0,
    357px 552px #fffff0, 144px 1722px #fffff0, 1572px 912px #fffff0,
    402px 1858px #fffff0, 1544px 1195px #fffff0, 667px 1257px #fffff0,
    727px 1496px #fffff0, 993px 232px #fffff0, 1772px 313px #fffff0,
    1040px 1590px #fffff0, 1204px 1973px #fffff0, 1268px 79px #fffff0,
    1555px 1048px #fffff0, 986px 1707px #fffff0, 978px 1710px #fffff0,
    713px 360px #fffff0, 407px 863px #fffff0, 461px 736px #fffff0,
    284px 1608px #fffff0, 103px 430px #fffff0, 1283px 1319px #fffff0,
    977px 1186px #fffff0, 1966px 1516px #fffff0, 1287px 1129px #fffff0,
    70px 1098px #fffff0, 1189px 889px #fffff0, 1126px 1734px #fffff0,
    309px 1292px #fffff0, 879px 764px #fffff0, 65px 473px #fffff0,
    1003px 1959px #fffff0, 658px 791px #fffff0, 402px 1576px #fffff0,
    35px 622px #fffff0, 529px 1589px #fffff0, 164px 666px #fffff0,
    1876px 1290px #fffff0, 1541px 526px #fffff0, 270px 1297px #fffff0,
    440px 865px #fffff0, 1500px 802px #fffff0, 182px 1754px #fffff0,
    1264px 892px #fffff0, 272px 1249px #fffff0, 1289px 1535px #fffff0,
    190px 1646px #fffff0, 955px 242px #fffff0, 1456px 1597px #fffff0,
    1727px 1983px #fffff0, 635px 801px #fffff0, 226px 455px #fffff0,
    1396px 1710px #fffff0, 849px 1863px #fffff0, 237px 1264px #fffff0,
    839px 140px #fffff0, 1122px 735px #fffff0, 1280px 15px #fffff0,
    1318px 242px #fffff0, 1819px 1148px #fffff0, 333px 1392px #fffff0,
    1949px 553px #fffff0, 1878px 1332px #fffff0, 467px 548px #fffff0,
    1812px 1082px #fffff0, 1067px 193px #fffff0, 243px 156px #fffff0,
    483px 1616px #fffff0, 1714px 933px #fffff0, 759px 1800px #fffff0,
    1822px 995px #fffff0, 1877px 572px #fffff0, 581px 1084px #fffff0,
    107px 732px #fffff0, 642px 1837px #fffff0, 166px 1493px #fffff0,
    1555px 198px #fffff0, 819px 307px #fffff0, 947px 345px #fffff0,
    827px 224px #fffff0, 927px 1394px #fffff0, 540px 467px #fffff0,
    1093px 405px #fffff0, 1140px 927px #fffff0, 130px 529px #fffff0,
    33px 1980px #fffff0, 1147px 1663px #fffff0, 1616px 1436px #fffff0,
    528px 710px #fffff0, 798px 1100px #fffff0, 505px 1480px #fffff0,
    899px 641px #fffff0, 1909px 1949px #fffff0, 1311px 964px #fffff0,
    979px 1301px #fffff0, 1393px 969px #fffff0, 1793px 1886px #fffff0,
    292px 357px #fffff0, 1196px 1718px #fffff0, 1290px 1994px #fffff0,
    537px 1973px #fffff0, 1181px 1674px #fffff0, 1740px 1566px #fffff0,
    1307px 265px #fffff0, 922px 522px #fffff0, 1892px 472px #fffff0,
    384px 1746px #fffff0, 392px 1098px #fffff0, 647px 548px #fffff0,
    390px 1498px #fffff0, 1246px 138px #fffff0, 730px 876px #fffff0,
    192px 1472px #fffff0, 1790px 1789px #fffff0, 928px 311px #fffff0,
    1253px 1647px #fffff0, 747px 1921px #fffff0, 1561px 1025px #fffff0,
    1533px 1292px #fffff0, 1985px 195px #fffff0, 728px 729px #fffff0,
    1712px 1936px #fffff0, 512px 1717px #fffff0, 1528px 483px #fffff0,
    313px 1642px #fffff0, 281px 1849px #fffff0, 1212px 799px #fffff0,
    435px 1191px #fffff0, 1422px 611px #fffff0, 1718px 1964px #fffff0,
    411px 944px #fffff0, 210px 636px #fffff0, 1502px 1295px #fffff0,
    1434px 349px #fffff0, 769px 60px #fffff0, 747px 1053px #fffff0,
    789px 504px #fffff0, 1436px 1264px #fffff0, 1893px 1225px #fffff0,
    1394px 1788px #fffff0, 1108px 1317px #fffff0, 1673px 1395px #fffff0,
    854px 1010px #fffff0, 1705px 80px #fffff0, 1858px 148px #fffff0,
    1729px 344px #fffff0, 1388px 664px #fffff0, 895px 406px #fffff0,
    1479px 157px #fffff0, 1441px 1157px #fffff0, 552px 1900px #fffff0,
    516px 364px #fffff0, 1647px 189px #fffff0, 1427px 1071px #fffff0,
    785px 729px #fffff0, 1080px 1710px #fffff0, 504px 204px #fffff0,
    1177px 1622px #fffff0, 657px 34px #fffff0, 1296px 1099px #fffff0,
    248px 180px #fffff0, 1212px 1568px #fffff0, 667px 1562px #fffff0,
    695px 841px #fffff0, 1608px 1247px #fffff0, 751px 882px #fffff0,
    87px 167px #fffff0, 607px 1368px #fffff0, 1363px 1203px #fffff0,
    1836px 317px #fffff0, 1668px 1703px #fffff0, 830px 1154px #fffff0,
    1721px 1398px #fffff0, 1601px 1280px #fffff0, 976px 874px #fffff0,
    1743px 254px #fffff0, 1020px 1815px #fffff0, 1670px 1766px #fffff0,
    1890px 735px #fffff0, 1379px 136px #fffff0, 1864px 695px #fffff0,
    206px 965px #fffff0, 1404px 1932px #fffff0, 1923px 1360px #fffff0,
    247px 682px #fffff0, 519px 1708px #fffff0, 645px 750px #fffff0,
    1164px 1204px #fffff0, 834px 323px #fffff0, 172px 1350px #fffff0,
    213px 972px #fffff0, 1837px 190px #fffff0, 285px 1806px #fffff0,
    1047px 1299px #fffff0, 1548px 825px #fffff0, 1730px 324px #fffff0,
    1346px 1909px #fffff0, 772px 270px #fffff0, 345px 1190px #fffff0,
    478px 1433px #fffff0, 1479px 25px #fffff0, 1994px 1830px #fffff0,
    1744px 732px #fffff0, 20px 1635px #fffff0, 690px 1795px #fffff0,
    1594px 569px #fffff0, 579px 245px #fffff0, 1398px 733px #fffff0,
    408px 1352px #fffff0, 1774px 120px #fffff0, 1152px 1370px #fffff0,
    1698px 1810px #fffff0, 710px 1450px #fffff0, 665px 286px #fffff0,
    493px 1720px #fffff0, 786px 5px #fffff0, 637px 1140px #fffff0,
    764px 324px #fffff0, 927px 310px #fffff0, 938px 1424px #fffff0,
    1884px 744px #fffff0, 913px 462px #fffff0, 1831px 1936px #fffff0,
    1527px 249px #fffff0, 36px 1381px #fffff0, 1597px 581px #fffff0,
    1530px 355px #fffff0, 949px 459px #fffff0, 799px 828px #fffff0,
    242px 1471px #fffff0, 654px 797px #fffff0, 796px 594px #fffff0,
    1365px 678px #fffff0, 752px 23px #fffff0, 1630px 541px #fffff0,
    982px 72px #fffff0, 1733px 1831px #fffff0, 21px 412px #fffff0,
    775px 998px #fffff0, 335px 1945px #fffff0, 264px 583px #fffff0,
    158px 1311px #fffff0, 528px 164px #fffff0, 1978px 574px #fffff0,
    717px 1203px #fffff0, 734px 1591px #fffff0, 1555px 820px #fffff0,
    16px 1943px #fffff0, 1625px 1177px #fffff0, 1236px 690px #fffff0,
    1585px 1590px #fffff0, 1737px 1728px #fffff0, 721px 698px #fffff0,
    1804px 1186px #fffff0, 166px 980px #fffff0, 1850px 230px #fffff0,
    330px 1712px #fffff0, 95px 797px #fffff0, 1948px 1078px #fffff0,
    469px 939px #fffff0, 1269px 1899px #fffff0, 955px 1220px #fffff0,
    1137px 1075px #fffff0, 312px 1293px #fffff0, 986px 1762px #fffff0,
    1103px 1238px #fffff0, 428px 1993px #fffff0, 355px 570px #fffff0,
    977px 1836px #fffff0, 1395px 1092px #fffff0, 276px 913px #fffff0,
    1743px 656px #fffff0, 773px 502px #fffff0, 1686px 1322px #fffff0,
    1516px 1945px #fffff0, 1334px 501px #fffff0, 266px 156px #fffff0,
    455px 655px #fffff0, 798px 72px #fffff0, 1059px 1259px #fffff0,
    1402px 1687px #fffff0, 236px 1329px #fffff0, 1455px 786px #fffff0,
    146px 1228px #fffff0, 1851px 823px #fffff0, 1062px 100px #fffff0,
    1220px 953px #fffff0, 20px 1826px #fffff0, 36px 1063px #fffff0,
    1525px 338px #fffff0, 790px 1521px #fffff0, 741px 1099px #fffff0,
    288px 1489px #fffff0, 700px 1060px #fffff0, 390px 1071px #fffff0,
    411px 1036px #fffff0, 1853px 1072px #fffff0, 1446px 1085px #fffff0,
    1164px 874px #fffff0, 924px 925px #fffff0, 291px 271px #fffff0,
    1257px 1964px #fffff0, 1580px 1352px #fffff0, 1507px 1216px #fffff0,
    211px 956px #fffff0, 985px 1195px #fffff0, 975px 1640px #fffff0,
    518px 101px #fffff0, 663px 1395px #fffff0, 914px 532px #fffff0,
    145px 1320px #fffff0, 69px 1397px #fffff0, 982px 523px #fffff0,
    257px 725px #fffff0, 1599px 831px #fffff0, 1636px 1513px #fffff0,
    1250px 1158px #fffff0, 1132px 604px #fffff0, 183px 102px #fffff0,
    1057px 318px #fffff0, 1247px 1835px #fffff0, 1983px 1110px #fffff0,
    1077px 1455px #fffff0, 921px 1770px #fffff0, 806px 1350px #fffff0,
    1938px 1992px #fffff0, 855px 1260px #fffff0, 902px 1345px #fffff0,
    658px 1908px #fffff0, 1845px 679px #fffff0, 712px 1482px #fffff0,
    595px 950px #fffff0, 1784px 1992px #fffff0, 1847px 1785px #fffff0,
    691px 1004px #fffff0, 175px 1179px #fffff0, 1666px 1911px #fffff0,
    41px 61px #fffff0, 971px 1080px #fffff0, 1830px 1450px #fffff0,
    1351px 1518px #fffff0, 1257px 99px #fffff0, 1395px 1498px #fffff0,
    1117px 252px #fffff0, 1779px 597px #fffff0, 1346px 729px #fffff0,
    1108px 1144px #fffff0, 402px 691px #fffff0, 72px 496px #fffff0,
    1673px 1604px #fffff0, 1497px 974px #fffff0, 1865px 1664px #fffff0,
    88px 806px #fffff0, 918px 77px #fffff0, 244px 1118px #fffff0,
    256px 1820px #fffff0, 1851px 1840px #fffff0, 605px 1851px #fffff0,
    634px 383px #fffff0, 865px 37px #fffff0, 943px 1024px #fffff0,
    1951px 177px #fffff0, 1097px 523px #fffff0, 985px 1700px #fffff0,
    1243px 122px #fffff0, 768px 1070px #fffff0, 468px 194px #fffff0,
    320px 1867px #fffff0, 1850px 185px #fffff0, 380px 1616px #fffff0,
    468px 1294px #fffff0, 1122px 1743px #fffff0, 884px 299px #fffff0,
    1300px 1917px #fffff0, 1860px 396px #fffff0, 1270px 990px #fffff0,
    529px 733px #fffff0, 1975px 1347px #fffff0, 1885px 685px #fffff0,
    226px 506px #fffff0, 651px 878px #fffff0, 1323px 680px #fffff0,
    1284px 680px #fffff0, 238px 1967px #fffff0, 911px 174px #fffff0,
    1111px 521px #fffff0, 1150px 85px #fffff0, 794px 502px #fffff0,
    484px 1856px #fffff0, 1809px 368px #fffff0, 112px 953px #fffff0,
    590px 1009px #fffff0, 1655px 311px #fffff0, 100px 1026px #fffff0,
    1803px 352px #fffff0, 865px 306px #fffff0, 1077px 1019px #fffff0,
    1335px 872px #fffff0, 1647px 1298px #fffff0, 1233px 1387px #fffff0,
    698px 1036px #fffff0, 659px 1860px #fffff0, 388px 1412px #fffff0,
    1212px 458px #fffff0, 755px 1468px #fffff0, 696px 1654px #fffff0,
    1144px 60px #fff;
}

#stars:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 779px 1331px #fffff0, 324px 42px #fffff0, 303px 586px #fffff0,
    1312px 276px #fffff0, 451px 625px #fffff0, 521px 1931px #fffff0,
    1087px 1871px #fffff0, 36px 1546px #fffff0, 132px 934px #fffff0,
    1698px 901px #fffff0, 1418px 664px #fffff0, 1448px 1157px #fffff0,
    1084px 232px #fffff0, 347px 1776px #fffff0, 1722px 243px #fffff0,
    1629px 835px #fffff0, 479px 969px #fffff0, 1231px 960px #fffff0,
    586px 384px #fffff0, 164px 527px #fffff0, 8px 646px #fffff0,
    1150px 1126px #fffff0, 665px 1357px #fffff0, 1556px 1982px #fffff0,
    1260px 1961px #fffff0, 1675px 1741px #fffff0, 1843px 1514px #fffff0,
    718px 1628px #fffff0, 242px 1343px #fffff0, 1497px 1880px #fffff0,
    1364px 230px #fffff0, 1739px 1302px #fffff0, 636px 959px #fffff0,
    304px 686px #fffff0, 614px 751px #fffff0, 1935px 816px #fffff0,
    1428px 60px #fffff0, 355px 335px #fffff0, 1594px 158px #fffff0,
    90px 60px #fffff0, 1553px 162px #fffff0, 1239px 1825px #fffff0,
    1945px 587px #fffff0, 749px 1785px #fffff0, 1987px 1172px #fffff0,
    1301px 1237px #fffff0, 1039px 342px #fffff0, 1585px 1481px #fffff0,
    995px 1048px #fffff0, 524px 932px #fffff0, 214px 413px #fffff0,
    1701px 1300px #fffff0, 1037px 1613px #fffff0, 1871px 996px #fffff0,
    1360px 1635px #fffff0, 1110px 1313px #fffff0, 412px 1783px #fffff0,
    1949px 177px #fffff0, 903px 1854px #fffff0, 700px 1936px #fffff0,
    378px 125px #fffff0, 308px 834px #fffff0, 1118px 962px #fffff0,
    1350px 1929px #fffff0, 781px 1811px #fffff0, 561px 137px #fffff0,
    757px 1148px #fffff0, 1670px 1979px #fffff0, 343px 739px #fffff0,
    945px 795px #fffff0, 576px 1903px #fffff0, 1078px 1436px #fffff0,
    1583px 450px #fffff0, 1366px 474px #fffff0, 297px 1873px #fffff0,
    192px 162px #fffff0, 1624px 1633px #fffff0, 59px 453px #fffff0,
    82px 1872px #fffff0, 1933px 498px #fffff0, 1966px 1974px #fffff0,
    1975px 1688px #fffff0, 779px 314px #fffff0, 1858px 1543px #fffff0,
    73px 1507px #fffff0, 1693px 975px #fffff0, 1683px 108px #fffff0,
    1768px 1654px #fffff0, 654px 14px #fffff0, 494px 171px #fffff0,
    1689px 1895px #fffff0, 1660px 263px #fffff0, 1031px 903px #fffff0,
    1203px 1393px #fffff0, 1333px 1421px #fffff0, 1113px 41px #fffff0,
    1206px 1645px #fffff0, 1325px 1635px #fffff0, 142px 388px #fffff0,
    572px 215px #fffff0, 1535px 296px #fffff0, 1419px 407px #fffff0,
    1379px 1003px #fffff0, 329px 469px #fffff0, 1791px 1652px #fffff0,
    935px 1802px #fffff0, 1330px 1820px #fffff0, 421px 1933px #fffff0,
    828px 365px #fffff0, 275px 316px #fffff0, 707px 960px #fffff0,
    1605px 1554px #fffff0, 625px 58px #fffff0, 717px 1697px #fffff0,
    1669px 246px #fffff0, 1925px 322px #fffff0, 1154px 1803px #fffff0,
    1929px 295px #fffff0, 1248px 240px #fffff0, 1045px 1755px #fffff0,
    166px 942px #fffff0, 1888px 1773px #fffff0, 678px 1963px #fffff0,
    1370px 569px #fffff0, 1974px 1400px #fffff0, 1786px 460px #fffff0,
    51px 307px #fffff0, 784px 1400px #fffff0, 730px 1258px #fffff0,
    1712px 393px #fffff0, 416px 170px #fffff0, 1797px 1932px #fffff0,
    572px 219px #fffff0, 1557px 1856px #fffff0, 218px 8px #fffff0,
    348px 1334px #fffff0, 469px 413px #fffff0, 385px 1738px #fffff0,
    1357px 1818px #fffff0, 240px 942px #fffff0, 248px 1847px #fffff0,
    1535px 806px #fffff0, 236px 1514px #fffff0, 1429px 1556px #fffff0,
    73px 1633px #fffff0, 1398px 1121px #fffff0, 671px 1301px #fffff0,
    1404px 1663px #fffff0, 740px 1018px #fffff0, 1600px 377px #fffff0,
    785px 514px #fffff0, 112px 1084px #fffff0, 1915px 1887px #fffff0,
    1463px 1848px #fffff0, 687px 1115px #fffff0, 1268px 1768px #fffff0,
    1729px 1425px #fffff0, 1284px 1022px #fffff0, 801px 974px #fffff0,
    1975px 1317px #fffff0, 1354px 834px #fffff0, 1446px 1484px #fffff0,
    1283px 1786px #fffff0, 11px 523px #fffff0, 1842px 236px #fffff0,
    1355px 654px #fffff0, 429px 7px #fffff0, 1033px 1128px #fffff0,
    157px 297px #fffff0, 545px 635px #fffff0, 52px 1080px #fffff0,
    827px 1520px #fffff0, 1121px 490px #fffff0, 9px 309px #fffff0,
    1744px 1586px #fffff0, 1014px 417px #fffff0, 1534px 524px #fffff0,
    958px 552px #fffff0, 1403px 1496px #fffff0, 387px 703px #fffff0,
    1522px 548px #fffff0, 1355px 282px #fffff0, 1532px 601px #fffff0,
    1838px 790px #fffff0, 290px 259px #fffff0, 295px 598px #fffff0,
    1601px 539px #fffff0, 1561px 1272px #fffff0, 34px 1922px #fffff0,
    1024px 543px #fffff0, 467px 369px #fffff0, 722px 333px #fffff0,
    1976px 1255px #fffff0, 766px 983px #fffff0, 1582px 1285px #fffff0,
    12px 512px #fffff0, 617px 1410px #fffff0, 682px 577px #fffff0,
    1334px 1438px #fffff0, 439px 327px #fffff0, 1617px 1661px #fffff0,
    673px 129px #fffff0, 794px 941px #fffff0, 1386px 1902px #fffff0,
    37px 1353px #fffff0, 1467px 1353px #fffff0, 416px 18px #fffff0,
    187px 344px #fffff0, 200px 1898px #fffff0, 1491px 1619px #fffff0,
    811px 347px #fffff0, 924px 1827px #fffff0, 945px 217px #fffff0,
    1735px 1228px #fffff0, 379px 1890px #fffff0, 79px 761px #fffff0,
    825px 1837px #fffff0, 1980px 1558px #fffff0, 1308px 1573px #fffff0,
    1488px 1726px #fffff0, 382px 1208px #fffff0, 522px 595px #fffff0,
    1277px 1898px #fffff0, 354px 552px #fffff0, 161px 1784px #fffff0,
    614px 251px #fffff0, 526px 1576px #fffff0, 17px 212px #fffff0,
    179px 996px #fffff0, 467px 1208px #fffff0, 1944px 1838px #fffff0,
    1140px 1093px #fffff0, 858px 1007px #fffff0, 200px 1064px #fffff0,
    423px 1964px #fffff0, 1945px 439px #fffff0, 1377px 689px #fffff0,
    1120px 1437px #fffff0, 1876px 668px #fffff0, 907px 1324px #fffff0,
    343px 1976px #fffff0, 1816px 1501px #fffff0, 1849px 177px #fffff0,
    647px 91px #fffff0, 1984px 1012px #fffff0, 1336px 1300px #fffff0,
    128px 648px #fffff0, 305px 1060px #fffff0, 1324px 826px #fffff0,
    1263px 1314px #fffff0, 1801px 629px #fffff0, 1614px 1555px #fffff0,
    1634px 90px #fffff0, 1603px 452px #fffff0, 891px 1984px #fffff0,
    1556px 1906px #fffff0, 121px 68px #fffff0, 1676px 1714px #fffff0,
    516px 936px #fffff0, 1947px 1492px #fffff0, 1455px 1519px #fffff0,
    45px 602px #fffff0, 205px 1039px #fffff0, 793px 172px #fffff0,
    1562px 1739px #fffff0, 1056px 110px #fffff0, 1512px 379px #fffff0,
    1795px 1621px #fffff0, 1848px 607px #fffff0, 262px 1719px #fffff0,
    477px 991px #fffff0, 483px 883px #fffff0, 1239px 1197px #fffff0,
    1496px 647px #fffff0, 1649px 25px #fffff0, 1491px 1946px #fffff0,
    119px 996px #fffff0, 179px 1472px #fffff0, 1341px 808px #fffff0,
    1565px 1700px #fffff0, 407px 1544px #fffff0, 1754px 357px #fffff0,
    1288px 981px #fffff0, 902px 1997px #fffff0, 1755px 1668px #fffff0,
    186px 877px #fffff0, 1202px 1882px #fffff0, 461px 1213px #fffff0,
    1400px 748px #fffff0, 1969px 1899px #fffff0, 809px 522px #fffff0,
    514px 1219px #fffff0, 374px 275px #fffff0, 938px 1973px #fffff0,
    357px 552px #fffff0, 144px 1722px #fffff0, 1572px 912px #fffff0,
    402px 1858px #fffff0, 1544px 1195px #fffff0, 667px 1257px #fffff0,
    727px 1496px #fffff0, 993px 232px #fffff0, 1772px 313px #fffff0,
    1040px 1590px #fffff0, 1204px 1973px #fffff0, 1268px 79px #fffff0,
    1555px 1048px #fffff0, 986px 1707px #fffff0, 978px 1710px #fffff0,
    713px 360px #fffff0, 407px 863px #fffff0, 461px 736px #fffff0,
    284px 1608px #fffff0, 103px 430px #fffff0, 1283px 1319px #fffff0,
    977px 1186px #fffff0, 1966px 1516px #fffff0, 1287px 1129px #fffff0,
    70px 1098px #fffff0, 1189px 889px #fffff0, 1126px 1734px #fffff0,
    309px 1292px #fffff0, 879px 764px #fffff0, 65px 473px #fffff0,
    1003px 1959px #fffff0, 658px 791px #fffff0, 402px 1576px #fffff0,
    35px 622px #fffff0, 529px 1589px #fffff0, 164px 666px #fffff0,
    1876px 1290px #fffff0, 1541px 526px #fffff0, 270px 1297px #fffff0,
    440px 865px #fffff0, 1500px 802px #fffff0, 182px 1754px #fffff0,
    1264px 892px #fffff0, 272px 1249px #fffff0, 1289px 1535px #fffff0,
    190px 1646px #fffff0, 955px 242px #fffff0, 1456px 1597px #fffff0,
    1727px 1983px #fffff0, 635px 801px #fffff0, 226px 455px #fffff0,
    1396px 1710px #fffff0, 849px 1863px #fffff0, 237px 1264px #fffff0,
    839px 140px #fffff0, 1122px 735px #fffff0, 1280px 15px #fffff0,
    1318px 242px #fffff0, 1819px 1148px #fffff0, 333px 1392px #fffff0,
    1949px 553px #fffff0, 1878px 1332px #fffff0, 467px 548px #fffff0,
    1812px 1082px #fffff0, 1067px 193px #fffff0, 243px 156px #fffff0,
    483px 1616px #fffff0, 1714px 933px #fffff0, 759px 1800px #fffff0,
    1822px 995px #fffff0, 1877px 572px #fffff0, 581px 1084px #fffff0,
    107px 732px #fffff0, 642px 1837px #fffff0, 166px 1493px #fffff0,
    1555px 198px #fffff0, 819px 307px #fffff0, 947px 345px #fffff0,
    827px 224px #fffff0, 927px 1394px #fffff0, 540px 467px #fffff0,
    1093px 405px #fffff0, 1140px 927px #fffff0, 130px 529px #fffff0,
    33px 1980px #fffff0, 1147px 1663px #fffff0, 1616px 1436px #fffff0,
    528px 710px #fffff0, 798px 1100px #fffff0, 505px 1480px #fffff0,
    899px 641px #fffff0, 1909px 1949px #fffff0, 1311px 964px #fffff0,
    979px 1301px #fffff0, 1393px 969px #fffff0, 1793px 1886px #fffff0,
    292px 357px #fffff0, 1196px 1718px #fffff0, 1290px 1994px #fffff0,
    537px 1973px #fffff0, 1181px 1674px #fffff0, 1740px 1566px #fffff0,
    1307px 265px #fffff0, 922px 522px #fffff0, 1892px 472px #fffff0,
    384px 1746px #fffff0, 392px 1098px #fffff0, 647px 548px #fffff0,
    390px 1498px #fffff0, 1246px 138px #fffff0, 730px 876px #fffff0,
    192px 1472px #fffff0, 1790px 1789px #fffff0, 928px 311px #fffff0,
    1253px 1647px #fffff0, 747px 1921px #fffff0, 1561px 1025px #fffff0,
    1533px 1292px #fffff0, 1985px 195px #fffff0, 728px 729px #fffff0,
    1712px 1936px #fffff0, 512px 1717px #fffff0, 1528px 483px #fffff0,
    313px 1642px #fffff0, 281px 1849px #fffff0, 1212px 799px #fffff0,
    435px 1191px #fffff0, 1422px 611px #fffff0, 1718px 1964px #fffff0,
    411px 944px #fffff0, 210px 636px #fffff0, 1502px 1295px #fffff0,
    1434px 349px #fffff0, 769px 60px #fffff0, 747px 1053px #fffff0,
    789px 504px #fffff0, 1436px 1264px #fffff0, 1893px 1225px #fffff0,
    1394px 1788px #fffff0, 1108px 1317px #fffff0, 1673px 1395px #fffff0,
    854px 1010px #fffff0, 1705px 80px #fffff0, 1858px 148px #fffff0,
    1729px 344px #fffff0, 1388px 664px #fffff0, 895px 406px #fffff0,
    1479px 157px #fffff0, 1441px 1157px #fffff0, 552px 1900px #fffff0,
    516px 364px #fffff0, 1647px 189px #fffff0, 1427px 1071px #fffff0,
    785px 729px #fffff0, 1080px 1710px #fffff0, 504px 204px #fffff0,
    1177px 1622px #fffff0, 657px 34px #fffff0, 1296px 1099px #fffff0,
    248px 180px #fffff0, 1212px 1568px #fffff0, 667px 1562px #fffff0,
    695px 841px #fffff0, 1608px 1247px #fffff0, 751px 882px #fffff0,
    87px 167px #fffff0, 607px 1368px #fffff0, 1363px 1203px #fffff0,
    1836px 317px #fffff0, 1668px 1703px #fffff0, 830px 1154px #fffff0,
    1721px 1398px #fffff0, 1601px 1280px #fffff0, 976px 874px #fffff0,
    1743px 254px #fffff0, 1020px 1815px #fffff0, 1670px 1766px #fffff0,
    1890px 735px #fffff0, 1379px 136px #fffff0, 1864px 695px #fffff0,
    206px 965px #fffff0, 1404px 1932px #fffff0, 1923px 1360px #fffff0,
    247px 682px #fffff0, 519px 1708px #fffff0, 645px 750px #fffff0,
    1164px 1204px #fffff0, 834px 323px #fffff0, 172px 1350px #fffff0,
    213px 972px #fffff0, 1837px 190px #fffff0, 285px 1806px #fffff0,
    1047px 1299px #fffff0, 1548px 825px #fffff0, 1730px 324px #fffff0,
    1346px 1909px #fffff0, 772px 270px #fffff0, 345px 1190px #fffff0,
    478px 1433px #fffff0, 1479px 25px #fffff0, 1994px 1830px #fffff0,
    1744px 732px #fffff0, 20px 1635px #fffff0, 690px 1795px #fffff0,
    1594px 569px #fffff0, 579px 245px #fffff0, 1398px 733px #fffff0,
    408px 1352px #fffff0, 1774px 120px #fffff0, 1152px 1370px #fffff0,
    1698px 1810px #fffff0, 710px 1450px #fffff0, 665px 286px #fffff0,
    493px 1720px #fffff0, 786px 5px #fffff0, 637px 1140px #fffff0,
    764px 324px #fffff0, 927px 310px #fffff0, 938px 1424px #fffff0,
    1884px 744px #fffff0, 913px 462px #fffff0, 1831px 1936px #fffff0,
    1527px 249px #fffff0, 36px 1381px #fffff0, 1597px 581px #fffff0,
    1530px 355px #fffff0, 949px 459px #fffff0, 799px 828px #fffff0,
    242px 1471px #fffff0, 654px 797px #fffff0, 796px 594px #fffff0,
    1365px 678px #fffff0, 752px 23px #fffff0, 1630px 541px #fffff0,
    982px 72px #fffff0, 1733px 1831px #fffff0, 21px 412px #fffff0,
    775px 998px #fffff0, 335px 1945px #fffff0, 264px 583px #fffff0,
    158px 1311px #fffff0, 528px 164px #fffff0, 1978px 574px #fffff0,
    717px 1203px #fffff0, 734px 1591px #fffff0, 1555px 820px #fffff0,
    16px 1943px #fffff0, 1625px 1177px #fffff0, 1236px 690px #fffff0,
    1585px 1590px #fffff0, 1737px 1728px #fffff0, 721px 698px #fffff0,
    1804px 1186px #fffff0, 166px 980px #fffff0, 1850px 230px #fffff0,
    330px 1712px #fffff0, 95px 797px #fffff0, 1948px 1078px #fffff0,
    469px 939px #fffff0, 1269px 1899px #fffff0, 955px 1220px #fffff0,
    1137px 1075px #fffff0, 312px 1293px #fffff0, 986px 1762px #fffff0,
    1103px 1238px #fffff0, 428px 1993px #fffff0, 355px 570px #fffff0,
    977px 1836px #fffff0, 1395px 1092px #fffff0, 276px 913px #fffff0,
    1743px 656px #fffff0, 773px 502px #fffff0, 1686px 1322px #fffff0,
    1516px 1945px #fffff0, 1334px 501px #fffff0, 266px 156px #fffff0,
    455px 655px #fffff0, 798px 72px #fffff0, 1059px 1259px #fffff0,
    1402px 1687px #fffff0, 236px 1329px #fffff0, 1455px 786px #fffff0,
    146px 1228px #fffff0, 1851px 823px #fffff0, 1062px 100px #fffff0,
    1220px 953px #fffff0, 20px 1826px #fffff0, 36px 1063px #fffff0,
    1525px 338px #fffff0, 790px 1521px #fffff0, 741px 1099px #fffff0,
    288px 1489px #fffff0, 700px 1060px #fffff0, 390px 1071px #fffff0,
    411px 1036px #fffff0, 1853px 1072px #fffff0, 1446px 1085px #fffff0,
    1164px 874px #fffff0, 924px 925px #fffff0, 291px 271px #fffff0,
    1257px 1964px #fffff0, 1580px 1352px #fffff0, 1507px 1216px #fffff0,
    211px 956px #fffff0, 985px 1195px #fffff0, 975px 1640px #fffff0,
    518px 101px #fffff0, 663px 1395px #fffff0, 914px 532px #fffff0,
    145px 1320px #fffff0, 69px 1397px #fffff0, 982px 523px #fffff0,
    257px 725px #fffff0, 1599px 831px #fffff0, 1636px 1513px #fffff0,
    1250px 1158px #fffff0, 1132px 604px #fffff0, 183px 102px #fffff0,
    1057px 318px #fffff0, 1247px 1835px #fffff0, 1983px 1110px #fffff0,
    1077px 1455px #fffff0, 921px 1770px #fffff0, 806px 1350px #fffff0,
    1938px 1992px #fffff0, 855px 1260px #fffff0, 902px 1345px #fffff0,
    658px 1908px #fffff0, 1845px 679px #fffff0, 712px 1482px #fffff0,
    595px 950px #fffff0, 1784px 1992px #fffff0, 1847px 1785px #fffff0,
    691px 1004px #fffff0, 175px 1179px #fffff0, 1666px 1911px #fffff0,
    41px 61px #fffff0, 971px 1080px #fffff0, 1830px 1450px #fffff0,
    1351px 1518px #fffff0, 1257px 99px #fffff0, 1395px 1498px #fffff0,
    1117px 252px #fffff0, 1779px 597px #fffff0, 1346px 729px #fffff0,
    1108px 1144px #fffff0, 402px 691px #fffff0, 72px 496px #fffff0,
    1673px 1604px #fffff0, 1497px 974px #fffff0, 1865px 1664px #fffff0,
    88px 806px #fffff0, 918px 77px #fffff0, 244px 1118px #fffff0,
    256px 1820px #fffff0, 1851px 1840px #fffff0, 605px 1851px #fffff0,
    634px 383px #fffff0, 865px 37px #fffff0, 943px 1024px #fffff0,
    1951px 177px #fffff0, 1097px 523px #fffff0, 985px 1700px #fffff0,
    1243px 122px #fffff0, 768px 1070px #fffff0, 468px 194px #fffff0,
    320px 1867px #fffff0, 1850px 185px #fffff0, 380px 1616px #fffff0,
    468px 1294px #fffff0, 1122px 1743px #fffff0, 884px 299px #fffff0,
    1300px 1917px #fffff0, 1860px 396px #fffff0, 1270px 990px #fffff0,
    529px 733px #fffff0, 1975px 1347px #fffff0, 1885px 685px #fffff0,
    226px 506px #fffff0, 651px 878px #fffff0, 1323px 680px #fffff0,
    1284px 680px #fffff0, 238px 1967px #fffff0, 911px 174px #fffff0,
    1111px 521px #fffff0, 1150px 85px #fffff0, 794px 502px #fffff0,
    484px 1856px #fffff0, 1809px 368px #fffff0, 112px 953px #fffff0,
    590px 1009px #fffff0, 1655px 311px #fffff0, 100px 1026px #fffff0,
    1803px 352px #fffff0, 865px 306px #fffff0, 1077px 1019px #fffff0,
    1335px 872px #fffff0, 1647px 1298px #fffff0, 1233px 1387px #fffff0,
    698px 1036px #fffff0, 659px 1860px #fffff0, 388px 1412px #fffff0,
    1212px 458px #fffff0, 755px 1468px #fffff0, 696px 1654px #fffff0,
    1144px 60px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  animation: animStar calc(100s * var(--star-speed-multiplier)) linear infinite;
  box-shadow: 1448px 320px #fffff0, 1775px 1663px #fffff0, 332px 1364px #fffff0,
    878px 340px #fffff0, 569px 1832px #fffff0, 1422px 1684px #fffff0,
    1946px 1907px #fffff0, 121px 979px #fffff0, 1044px 1069px #fffff0,
    463px 381px #fffff0, 423px 112px #fffff0, 523px 1179px #fffff0,
    779px 654px #fffff0, 1398px 694px #fffff0, 1085px 1464px #fffff0,
    1599px 1869px #fffff0, 801px 1882px #fffff0, 779px 1231px #fffff0,
    552px 932px #fffff0, 1057px 1196px #fffff0, 282px 1280px #fffff0,
    496px 1986px #fffff0, 1833px 1120px #fffff0, 1802px 1293px #fffff0,
    6px 1696px #fffff0, 412px 1902px #fffff0, 605px 438px #fffff0,
    24px 1212px #fffff0, 234px 1320px #fffff0, 544px 344px #fffff0,
    1107px 170px #fffff0, 1603px 196px #fffff0, 905px 648px #fffff0,
    68px 1458px #fffff0, 649px 1969px #fffff0, 744px 675px #fffff0,
    1127px 478px #fffff0, 714px 1814px #fffff0, 1486px 526px #fffff0,
    270px 1636px #fffff0, 1931px 149px #fffff0, 1807px 378px #fffff0,
    8px 390px #fffff0, 1415px 699px #fffff0, 1473px 1211px #fffff0,
    1590px 141px #fffff0, 270px 1705px #fffff0, 69px 1423px #fffff0,
    1108px 1053px #fffff0, 1946px 128px #fffff0, 371px 371px #fffff0,
    1490px 220px #fffff0, 357px 1885px #fffff0, 363px 363px #fffff0,
    1896px 1256px #fffff0, 1979px 1050px #fffff0, 947px 1342px #fffff0,
    1754px 242px #fffff0, 514px 974px #fffff0, 65px 1477px #fffff0,
    1840px 547px #fffff0, 950px 695px #fffff0, 459px 1150px #fffff0,
    1124px 1502px #fffff0, 481px 940px #fffff0, 680px 839px #fffff0,
    797px 1169px #fffff0, 1977px 1491px #fffff0, 734px 1724px #fffff0,
    210px 298px #fffff0, 816px 628px #fffff0, 686px 770px #fffff0,
    1721px 267px #fffff0, 1663px 511px #fffff0, 1481px 1141px #fffff0,
    582px 248px #fffff0, 1308px 953px #fffff0, 628px 657px #fffff0,
    897px 1535px #fffff0, 270px 931px #fffff0, 791px 467px #fffff0,
    1336px 1732px #fffff0, 1013px 1653px #fffff0, 1911px 956px #fffff0,
    587px 816px #fffff0, 83px 456px #fffff0, 930px 1478px #fffff0,
    1587px 1694px #fffff0, 614px 1200px #fffff0, 302px 1782px #fffff0,
    1711px 1432px #fffff0, 443px 904px #fffff0, 1666px 714px #fffff0,
    1588px 1167px #fffff0, 273px 1075px #fffff0, 1679px 461px #fffff0,
    721px 664px #fffff0, 1202px 10px #fffff0, 166px 1126px #fffff0,
    331px 1628px #fffff0, 430px 1565px #fffff0, 1585px 509px #fffff0,
    640px 38px #fffff0, 822px 837px #fffff0, 1760px 1664px #fffff0,
    1122px 1458px #fffff0, 398px 131px #fffff0, 689px 285px #fffff0,
    460px 652px #fffff0, 1627px 365px #fffff0, 348px 1648px #fffff0,
    819px 1946px #fffff0, 981px 1917px #fffff0, 323px 76px #fffff0,
    979px 684px #fffff0, 887px 536px #fffff0, 1348px 1596px #fffff0,
    1055px 666px #fffff0, 1402px 1797px #fffff0, 1300px 1055px #fffff0,
    937px 238px #fffff0, 1474px 1815px #fffff0, 1144px 1710px #fffff0,
    1629px 1087px #fffff0, 911px 919px #fffff0, 771px 819px #fffff0,
    403px 720px #fffff0, 163px 736px #fffff0, 1062px 238px #fffff0,
    1774px 818px #fffff0, 1874px 1178px #fffff0, 1177px 699px #fffff0,
    1244px 1244px #fffff0, 1371px 58px #fffff0, 564px 1515px #fffff0,
    1824px 487px #fffff0, 929px 702px #fffff0, 394px 1348px #fffff0,
    1161px 641px #fffff0, 219px 1841px #fffff0, 358px 941px #fffff0,
    140px 1759px #fffff0, 1019px 1345px #fffff0, 274px 436px #fffff0,
    1433px 1605px #fffff0, 1798px 1426px #fffff0, 294px 1848px #fffff0,
    1681px 1877px #fffff0, 1344px 1824px #fffff0, 1439px 1632px #fffff0,
    161px 1012px #fffff0, 1308px 588px #fffff0, 1789px 582px #fffff0,
    721px 1910px #fffff0, 318px 218px #fffff0, 607px 319px #fffff0,
    495px 535px #fffff0, 1552px 1575px #fffff0, 1562px 67px #fffff0,
    403px 926px #fffff0, 1096px 1800px #fffff0, 1814px 1709px #fffff0,
    1882px 1831px #fffff0, 533px 46px #fffff0, 823px 969px #fffff0,
    530px 165px #fffff0, 1030px 352px #fffff0, 1681px 313px #fffff0,
    338px 115px #fffff0, 1607px 211px #fffff0, 1718px 1184px #fffff0,
    1589px 659px #fffff0, 278px 355px #fffff0, 464px 1464px #fffff0,
    1165px 277px #fffff0, 950px 694px #fffff0, 1746px 293px #fffff0,
    793px 911px #fffff0, 528px 773px #fffff0, 1883px 1694px #fffff0,
    748px 182px #fffff0, 1924px 1531px #fffff0, 100px 636px #fffff0,
    1473px 1445px #fffff0, 1264px 1244px #fffff0, 850px 1377px #fffff0,
    987px 1976px #fffff0, 933px 1761px #fffff0, 922px 1270px #fffff0,
    500px 396px #fffff0, 1324px 8px #fffff0, 1967px 1814px #fffff0,
    1072px 1401px #fffff0, 961px 37px #fffff0, 156px 81px #fffff0,
    1915px 502px #fffff0, 1076px 1846px #fffff0, 152px 1669px #fffff0,
    986px 1529px #fffff0, 1667px 1137px #fff;
}

#stars2:after {
  content: "";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1448px 320px #fffff0, 1775px 1663px #fffff0, 332px 1364px #fffff0,
    878px 340px #fffff0, 569px 1832px #fffff0, 1422px 1684px #fffff0,
    1946px 1907px #fffff0, 121px 979px #fffff0, 1044px 1069px #fffff0,
    463px 381px #fffff0, 423px 112px #fffff0, 523px 1179px #fffff0,
    779px 654px #fffff0, 1398px 694px #fffff0, 1085px 1464px #fffff0,
    1599px 1869px #fffff0, 801px 1882px #fffff0, 779px 1231px #fffff0,
    552px 932px #fffff0, 1057px 1196px #fffff0, 282px 1280px #fffff0,
    496px 1986px #fffff0, 1833px 1120px #fffff0, 1802px 1293px #fffff0,
    6px 1696px #fffff0, 412px 1902px #fffff0, 605px 438px #fffff0,
    24px 1212px #fffff0, 234px 1320px #fffff0, 544px 344px #fffff0,
    1107px 170px #fffff0, 1603px 196px #fffff0, 905px 648px #fffff0,
    68px 1458px #fffff0, 649px 1969px #fffff0, 744px 675px #fffff0,
    1127px 478px #fffff0, 714px 1814px #fffff0, 1486px 526px #fffff0,
    270px 1636px #fffff0, 1931px 149px #fffff0, 1807px 378px #fffff0,
    8px 390px #fffff0, 1415px 699px #fffff0, 1473px 1211px #fffff0,
    1590px 141px #fffff0, 270px 1705px #fffff0, 69px 1423px #fffff0,
    1108px 1053px #fffff0, 1946px 128px #fffff0, 371px 371px #fffff0,
    1490px 220px #fffff0, 357px 1885px #fffff0, 363px 363px #fffff0,
    1896px 1256px #fffff0, 1979px 1050px #fffff0, 947px 1342px #fffff0,
    1754px 242px #fffff0, 514px 974px #fffff0, 65px 1477px #fffff0,
    1840px 547px #fffff0, 950px 695px #fffff0, 459px 1150px #fffff0,
    1124px 1502px #fffff0, 481px 940px #fffff0, 680px 839px #fffff0,
    797px 1169px #fffff0, 1977px 1491px #fffff0, 734px 1724px #fffff0,
    210px 298px #fffff0, 816px 628px #fffff0, 686px 770px #fffff0,
    1721px 267px #fffff0, 1663px 511px #fffff0, 1481px 1141px #fffff0,
    582px 248px #fffff0, 1308px 953px #fffff0, 628px 657px #fffff0,
    897px 1535px #fffff0, 270px 931px #fffff0, 791px 467px #fffff0,
    1336px 1732px #fffff0, 1013px 1653px #fffff0, 1911px 956px #fffff0,
    587px 816px #fffff0, 83px 456px #fffff0, 930px 1478px #fffff0,
    1587px 1694px #fffff0, 614px 1200px #fffff0, 302px 1782px #fffff0,
    1711px 1432px #fffff0, 443px 904px #fffff0, 1666px 714px #fffff0,
    1588px 1167px #fffff0, 273px 1075px #fffff0, 1679px 461px #fffff0,
    721px 664px #fffff0, 1202px 10px #fffff0, 166px 1126px #fffff0,
    331px 1628px #fffff0, 430px 1565px #fffff0, 1585px 509px #fffff0,
    640px 38px #fffff0, 822px 837px #fffff0, 1760px 1664px #fffff0,
    1122px 1458px #fffff0, 398px 131px #fffff0, 689px 285px #fffff0,
    460px 652px #fffff0, 1627px 365px #fffff0, 348px 1648px #fffff0,
    819px 1946px #fffff0, 981px 1917px #fffff0, 323px 76px #fffff0,
    979px 684px #fffff0, 887px 536px #fffff0, 1348px 1596px #fffff0,
    1055px 666px #fffff0, 1402px 1797px #fffff0, 1300px 1055px #fffff0,
    937px 238px #fffff0, 1474px 1815px #fffff0, 1144px 1710px #fffff0,
    1629px 1087px #fffff0, 911px 919px #fffff0, 771px 819px #fffff0,
    403px 720px #fffff0, 163px 736px #fffff0, 1062px 238px #fffff0,
    1774px 818px #fffff0, 1874px 1178px #fffff0, 1177px 699px #fffff0,
    1244px 1244px #fffff0, 1371px 58px #fffff0, 564px 1515px #fffff0,
    1824px 487px #fffff0, 929px 702px #fffff0, 394px 1348px #fffff0,
    1161px 641px #fffff0, 219px 1841px #fffff0, 358px 941px #fffff0,
    140px 1759px #fffff0, 1019px 1345px #fffff0, 274px 436px #fffff0,
    1433px 1605px #fffff0, 1798px 1426px #fffff0, 294px 1848px #fffff0,
    1681px 1877px #fffff0, 1344px 1824px #fffff0, 1439px 1632px #fffff0,
    161px 1012px #fffff0, 1308px 588px #fffff0, 1789px 582px #fffff0,
    721px 1910px #fffff0, 318px 218px #fffff0, 607px 319px #fffff0,
    495px 535px #fffff0, 1552px 1575px #fffff0, 1562px 67px #fffff0,
    403px 926px #fffff0, 1096px 1800px #fffff0, 1814px 1709px #fffff0,
    1882px 1831px #fffff0, 533px 46px #fffff0, 823px 969px #fffff0,
    530px 165px #fffff0, 1030px 352px #fffff0, 1681px 313px #fffff0,
    338px 115px #fffff0, 1607px 211px #fffff0, 1718px 1184px #fffff0,
    1589px 659px #fffff0, 278px 355px #fffff0, 464px 1464px #fffff0,
    1165px 277px #fffff0, 950px 694px #fffff0, 1746px 293px #fffff0,
    793px 911px #fffff0, 528px 773px #fffff0, 1883px 1694px #fffff0,
    748px 182px #fffff0, 1924px 1531px #fffff0, 100px 636px #fffff0,
    1473px 1445px #fffff0, 1264px 1244px #fffff0, 850px 1377px #fffff0,
    987px 1976px #fffff0, 933px 1761px #fffff0, 922px 1270px #fffff0,
    500px 396px #fffff0, 1324px 8px #fffff0, 1967px 1814px #fffff0,
    1072px 1401px #fffff0, 961px 37px #fffff0, 156px 81px #fffff0,
    1915px 502px #fffff0, 1076px 1846px #fffff0, 152px 1669px #fffff0,
    986px 1529px #fffff0, 1667px 1137px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(-2000px);
  }
}

:root {
  --star-speed-multiplier: 1;
}
